{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "browser",
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": ["security"],
    "extends": [
        "plugin:@typescript-eslint/recommended",  // Uses the recommended rules from the @typescript-eslint/eslint-plugin
        "plugin:prettier/recommended",  // Enables eslint-plugin-prettier and displays prettier errors as ESLint errors. Make sure this is always the last configuration in the extends array.
        "plugin:security/recommended"
    ],
    "rules": {
        // place to specify ESLint rules - can be used to overwrite rules specified from the extended configs
        // e.g. "@typescript-eslint/explicit-function-return-type": "off",
    }
}
