[submodule "svelte-components"]
	path = src/components
	url = https://gitlab.com/the-bootcamp-project/libraries/svelte-components.git
	branch = main
[submodule "documentation"]
	path = docs
	url = https://gitlab.com/the-bootcamp-project/frameworks/docs.git
	branch = main
