[submodule "documentation"]
	path = docs
	url = https://gitlab.com/the-bootcamp-project/frameworks/docs.git
	branch = main
[submodule "typescript"]
	path = config/typescript
	url = https://gitlab.com/the-bootcamp-project/configurations/ts.git
	branch = main
[submodule "svelte"]
	path = config/svelte
	url = https://gitlab.com/the-bootcamp-project/configurations/svelte.git
	branch = main
[submodule "tailwind"]
	path = config/tailwind
	url = https://gitlab.com/the-bootcamp-project/configurations/tailwind.git
	branch = main
[submodule "webpack"]
	path = config/webpackgit
	url = https://gitlab.com/the-bootcamp-project/configurations/webpack.git
	branch = main
[submodule "i18n"]
	path = i18n
	url = https://gitlab.com/the-bootcamp-project/libraries/i18n.git
	branch = main
